{% extends 'base.html.twig' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
<div class="container my-5">

    <div class="text-center mb-5">
        <h1 class="display-4 fw-bold">{{ 'shop_index.welcome.title'|trans }}</h1>
        <p class="lead text-muted">{{ 'shop_index.welcome.text'|trans }}</p>
    </div>
    {{ component('ProductSearch') }}
</div>
{% endblock %}